@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 251 38% 18%;
    --foreground: 240 10% 3.9%;

    --text-primary: 248 100% 97%;
    --text-secondary: 0 0% 13%;

    --gradient-primary-from: 216 100% 51%;
    --gradient-primary-to: 333 100% 62%;

    --gradient-secondary-from: 216 100% 51%;
    --gradient-secondary-to: 217, 100%, 67%;

    --card: 333 100% 62%;
    --card-foreground: 240 10% 3.9%;

    --popover: 251 38% 18%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 333 100% 62%;
    --primary-foreground: 0 0% 98%;

    --secondary: 216 100% 51%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 333 100 62%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;

    --plan-free: 123 50% 74%;
    --plan-premium: 30 61% 50%;
    --plan-exclusive: 0 0% 75%;
    --plan-vip: 51 100% 50%;

    --google: 7 76% 53%;
    --facebook: 222 42% 42%;
    --telegram: 199 84% 55%;
    --linkedin: 204 75% 40%;

    --success: 134 61% 41%;
    --danger: 360 100% 63%;
    --warning: 29 100% 60%;
    --info: 209 100% 60%;
  }

  /* .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  } */
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-text-primary;
  }

  .bg-gradient-primary {
    @apply bg-gradient-to-tr from-gradient-primary-from to-gradient-primary-to;
  }
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: hsl(248 100% 97%);
  transition: background-color 5000s ease-in-out 0s;
}